body{
    background-color: #efefef;
  }
  
  #Btn{
    margin: auto;
    width:200px;
    height:200px;
    border-radius: 50%;
    background:#EF454A;
    text-align: center;
    line-height:200px;
    color:#fff;
    font-size:66px;
    font-weight: bold;
    cursor:pointer;
    opacity:0.9;
    box-shadow:0 10px 0 #D1483E;
    border:3px solid #D1483E;
    user-select: none;
  }
  
  #Btn:hover{
    opacity:1;
  }
  
  #Btn.pushed{
    margin-top:7px;
    box-shadow:0 4px 0 #D1483E;
  }

  .DeleteMarker {
      list-style: none;
      width: 555px;
      margin-right: auto;
      margin-left : auto;
  }